# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
def percent(data):
    return data.mean() * 100 # создаю функцию, которая переведет значения в процентный вид.

pd.pivot_table(data, # исходный датафрейм.
              index = ['children'], # ключ для группировки по индексу.
              values = ['debt'], # столбец для агрегирования.
              aggfunc = [len, sum, percent]) # указываю, что делать с повторяющимися значениями.

            len   sum   percent
           debt  debt      debt
children
0         14107  1063  7.535266
1          4809   444  9.232689
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

In [23]:
pd.pivot_table(data, # исходный датафрейм.
              index = ['children'], # ключ для группировки по индексу.
              values = ['debt'], # столбец для агрегирования.
              aggfunc = [len, sum, lambda x : x.mean() * 100]) # указываю, что делать с повторяющимися значениями.

            len   sum  <lambda>
           debt  debt      debt
children
0         14107  1063  7.535266
1          4809   444  9.232689
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

**Вывод:** 
Процент невозврата кредита в срок едва ли зависит от количества детей в семье, т.к. значения отличаются друг от друга слишком слабо, чтобы делать какие-либо предположения. К тому же по семьям с 4 и 5 детьми данный датасет дает слишком маленькую выборку, чтобы исследование было объективным.
Семей с пятью детьми у нас показано всего девять и все они вернули кредит в срок. Если бы количество таких семей было бы на порядок больше - скорее всего, мы получили бы совсем другие значения.

In [24]:
data.groupby('children').agg(число_клиентов=('debt','count'),
                             число_должников=('debt','sum'),
                             доля_должников=('debt','mean')) \
                        .style.format({'доля_должников' : '{:.2%}'})

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [25]:
def percent(data):
    return data.mean() * 100

pd.pivot_table(data,
              index = ['family_status'],
              values = ['debt'],
              aggfunc = [len, sum, percent])

                         len  sum   percent
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  9.763948
в разводе               1189   84  7.064760
вдовец / вдова           951   63  6.624606
гражданский брак        4146  385  9.286059
женат / замужем        12266  927  7.557476

**Вывод:**
В данном исследовании зависимость процента невозврата прослеживается уже более явно.
Можно предположить, что люди, находящиеся в положениях - `вдовец/вдова`, `женат/замужем`, а также `в разводе` возвращают кредиты лучше, нежели `не женат/не замужем` и находящиеся в статусе `гражданский брак`.
Могу предположить, что такое распределение происходит из-за возраста людей в выборке, т.к. вдовец и в разводе, скорее всего, будет старше человека, находящегося в гражданском браке или холостого - соответственно, люди в возрасте имеют больше ответственности и являются более платежеспособными относительно более молодых, которые еще не успели вступить в какие-либо отношения.
Однако для подтверждения данной гипотезы необходимо провести отдельное исследование.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [26]:
def percent(data):
    return data.mean() * 100

pd.pivot_table(data,
              index = ['total_income_category'],
              values = ['debt'],
              aggfunc = [len, sum, percent])

                         len   sum   percent
                        debt  debt      debt
total_income_category
A                         25     2  8.000000
B                       5014   354  7.060231
C                      15938  1353  8.489145
D                        349    21  6.017192
E                         22     2  9.090909

**Вывод:**
В выборку попало слишком мало людей с доходом менее `30 000` и более `1 000 000`, поэтому данные по этим категориям не являются показательными.
Основываясь на остальных - можно сказать, что процент невозврата не зависит от уровня дохода, т.к. каждая категория имеет примерно равное распределение относительно других.

Диапазоны:
* 0–30000 — 'E';
* 30001–50000 — 'D';
* 50001–200000 — 'C';
* 200001–1000000 — 'B';
* 1000001 и выше — 'A'.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [27]:
def percent(data):
    return data.mean() * 100

pd.pivot_table(data,
              index = ['purpose_category'],
              values = ['debt'],
              aggfunc = [len, sum, percent])

                            len  sum   percent
                           debt debt      debt
purpose_category
операции с автомобилем     4281  400  9.343611
операции с недвижимостью  10754  780  7.253115
получение образования      3989  369  9.250439
проведение свадьбы         2324  183  7.874355

**Вывод:** 
На основании данного исследования можно сказать, что лучше всего возвращают кредиты, связанные с `проведением свадьбы` и `операциями с недвижимостью`.
Хуже всего - взятые на `операции с автомобилем`.

Операции с автомобилем имеют самый высокий процент невозрата кредита по причине повышенного риска. Автомобиль - это движимое имущество. Риск порчи и утраты автомобиля очень высок и повышается с неопытностью водителя. Водители со стажем - это, скорее всего, люди более старшего возраста, которые редко берут кредиты на автомобиль, т.к. имеют более стабильный и более высокий доход. Молодые водители, берущие автокредиты, неопытны. Траты на востановление автомобиля и одновременная оплата кредита дает высокую финансовую нагрузку на заемщика.

Операции с кредитом на образование также имеют высокий процент невозврата, хотя и меньший операций с автомобилем. Причина в том, что если заемщик берет кредит на образование - это значит, что обучение достаточно длительное и занимает много времени, а отсюда следует сложность в совмещении обучения и работы и, как следствие, сложности возврата кредита.

Операции с недвижимостью более выгодные и процент невозврата самый низкий. Недвижимость заемщики страхуют и порча имущества востанавливается страховыми компаниями. Рост цен на недвижимость дает стабильность.
В отличии от операций с автомобилем, где его идет снижение стоимости от б/у статуса.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* пропуски наблюдались в столбцах с трудовым стажем и ежемесячным доходом. Связано это может быть с:
* технической ошибкой;
* отсутствием у человека работы;
* неофициальным трудоустройством;

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Потому что мы не можем выбрать среднее значение из-за возможной дезинформации, связанной с аномально высокими или нулевыми показателями.
Также мы не можем заполнить пропуски случайными значениями из-за их необъективности.
В данном случае медиана помогает нам не исказить выборку и не потерять необходимые для анализа строки.

## Общий вывод.

На статистику платежеспособности клиентов практически не влияет `уровень ежемесячного дохода` и `количество детей` в семье. При построении модели кредитного скоринга лучше всего учитывать `семейное положение` и `цель кредита`, т.к. именного они в большей мере сказываются на проценте возврата.